body {
	/* background-color: #FFFFCC; */
	color: #6699CC;  
	background : url("DVI.jpg");
	} 
h1 {
	background-color: #33CC33; 
	color: #333333; 
	}
h3 {
	background-color: #FFFFFF; 
	color: #663333; 
	}
footer {
	color: #CC9966;
	}

	
