#u356
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/dd_cropped_bw.jpg") no-repeat left top;
	background-size: cover;
}

#u357,#u358
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u361-8
{
	display: block;
	vertical-align: top;
	position: relative;
}

